<div id="category-cloud" class="container chip-container">
    <div class="card">
        <div class="card-content">
            <div class="category-chips">
                <%- list_categories(site.categories, {
                    orderby: 'order',
                    order: -1,
                    show_count: true,
                    class: 'category',
                    style: 'list',
                    depth: 0,
                    }) %>
            </div>
        </div>
    </div>
</div>
